:root{
    --bg-content: white;
    --bg-light: #5fe4c3;
    --bg-dark: #66c7af;
    --txt-dark: black;
}

body{
    padding: 0;
    margin: 0;
}

.index__header{
    background-color: var(--bg-light);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.index__title{
    text-align: center;
}

.index__nav{
    background-color: var(--bg-dark);
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.index__nav__link{
    color: var(--txt-dark);
    text-decoration: none;
}

.index__nav__link:visited{
    color: var(--txt-dark);
}

.index__main{
    background: linear-gradient(var(--bg-light), var(--bg-dark));
    display: flex;
    flex-direction: row;
}

.index__article{
    background-color: var(--bg-content);
    width: 80%;
    margin: auto;
    min-height: 80vh;
    padding: 0 10px;
}

.index__footer{
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

.facteurs__info{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

.facteurs__photo{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.facteurs__photo img{
    max-width: 100%;
    margin: auto;
}

.facteurs__photo span a{
    font-size: 0.75em;
    text-decoration: none; 
    color: black;
}

.facteurs__photo span a:visited{
    color: black;
}

.facteurs__desc{
    width: 60%;
}

[data-spawn]{
    display: none;
}

.code {
    background-color: black;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

section a {
    color: var(--bg-dark)
}

section a:visited {
    color: var(--bg-light);
}

.augment__span::after{
    content: "/"
}

#augment-dom{
    display: none
}

#carousel{
    width: 100%;
    height: 100vh;
    position: relative
}

#carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-elements{
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 200ms opacity ease-in-out;
    overflow: hidden;
}

.carousel-elements[data-active]{
    opacity: 1;
    z-index: 1;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:active,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    outline: 1px solid black;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}